*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}



.skills{
  background-color: #140032;
  height: 200px;
}

/* Home Styles */

.texts {
  width: 50vw;
  height: 90vh;
  background-color: white;
  /* align-items: center; */
  justify-content: center;
  padding-left: 10vw;
}
.line1,.line2 {
  color: rgb(3, 3, 103);
  font-size: 3rem;
  font-weight: 700;
}
.line2 span{
  color: #2f51cb;
}
.picture{
  width: 50vw;
  height: 70vh;
  background-color: white;
}



/* skills styles */
#skills-el{
  padding: 0 20vw;
}