*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}



.skills{
  background-color: #140032;
  height: 200px;
}

/* Home Styles */

.texts {
  width: 50vw;
  height: 90vh;
  background-color: white;
  /* align-items: center; */
  justify-content: center;
  padding-left: 10vw;
}
.line1,.line2 {
  color: rgb(3, 3, 103);
  font-size: 3rem;
  font-weight: 700;
}
.line2 span{
  color: #2f51cb;
}
.picture{
  width: 50vw;
  height: 70vh;
  background-color: white;
}



/* skills styles */
.skills{
  background-color: rgb(17, 2, 95);
  height: 50vh;
}
.skills-parent{
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills-box{
  width: 60vw;
  height: 30vh;
  background-color: #7373e3;
  border: 3px solid #3131e6;
  border-radius: 10px;
  padding: 3rem 5rem;
}
.skills-el{
  flex-wrap: wrap;
}
.icon {
  font-size: 4rem;
  margin-right: 20px;
  color: green
  ;
}

/* GotoTop */

.gototop{
  position: fixed;
  width: 3vw;
  height: 3vw;
  background: #27ae60;
  color: black;
  bottom: 80vw;
  right: 2vw;
  line-height: 3vw;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  font-weight: 100px;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: all 1.5s;
}
.gototop.active{
  bottom: 2vw;
  right: 2vw;
  pointer-events: auto;
  opacity: 1;
}