
.footer-wrapper{
  width: 100%;
  height: 38vh;
  display: flex;
  padding: 3vh 7vw 3vh 7vw;
  gap: 30px;
  background-color: aqua;
}
.footer-descrip{
  flex: 5;
}
.footer-descrip > p{
  width: 90%;
  font-size: 1.1rem;
}
.footer-links{
  flex: 3;
}
.footer-links > a{
  width: fit-content;
  padding: 3px;
}
.contact-info{
  flex:4;
}

